<!doctype html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles.css" />
    <title>Nicoles URL Shortener Microservice</title>
  </head>

  <body>
    <h1>Nicole's URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <legend>URL Shortener</legend>
          <label for="url_input">URL:</label>
          <input
            id="input_url"
            type="text"
            name="url"
            placeholder="https://www.google.com"
          />
          <input type="submit" value="POST URL" />
        </form>
      </section>
      <section id="instructions-container">
        <ol id="instructions">
          <li>Submit a URL that you want to be shortened</li>
          <li>Recieve a JSON response providing you with the shortened URL</li>
          <li>
            Enter the short URL in your address bar in the browser after<br /><br />
            .../shorturl/<strong>&lt;your-short-url-here&gt;</strong>
          </li>
          <li>Be redirected to your chosen URL 🎉</li>
        </ol>
      </section>
    </main>
    <footer>
      <p>
        👩‍💻 Built by
        <a href="https://linktr.ee/nicolelancaster">Nicole Lancaster</a>
      </p>
    </footer>
  </body>
</html>
