<!doctype html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles.css" />
    <title>Nicoles URL Shortener Microservice</title>
  </head>

  <body>
    <h1>Nicole's URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="shorturl" method="POST">
          <!-- <fieldset> -->
          <legend>URL Shortener</legend>
          <label for="url_input">URL:</label>
          <input
            id="input_url"
            type="text"
            name="url"
            placeholder="https://www.google.com"
          />
          <input type="submit" value="POST URL" />
          <!-- </fieldset> -->
        </form>
      </section>
    </main>
    <footer>
      <p>
        Built by
        <a href="https://nicolelancasterportfolio.netlify.app/"
          >Nicole Lancaster</a
        >
      </p>
    </footer>
  </body>
</html>
